<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Archivos</title>
</head>
<body>


    <div class="card">
        <div class="card-header">
            <h1 class="display-6">Ingrese su archivo json</h1>
        </div>
        <div class="card-body">
            <form method="POST" th:action="@{/uploadFiles}" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" name="files" accept="application/JSON" multiple/> <br/><br/>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
            <hr/>
            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>
        </div>

        <div class="card-body">
            <div class="container my-2">
                <h1 class="display-5">Lista de json</h1>
                <table border="1" class="table table-hover">
                    <thead class="thead-dark" >
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Version</th>
                        <th scope="col">Rfc Contribuyente</th>
                        <th scope="col">Rfc Representante legal</th>
                        <th scope="col">Rfc Proveedor</th>
                        <th scope="col">Caracter</th>
                        <th scope="col">Modalidad Permiso</th>
                        <th scope="col">Num Permiso</th>
                        <th scope="col">Clave Instalacion</th>
                        <th scope="col">Descripcion Instalacion</th>



                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="VolumetricoSAT : ${listVolumetricoSAT}">
                        <td  scope="row" th:text="${VolumetricoSAT.Id}"></td>
                        <td th:text="${VolumetricoSAT.Version}"></td>
                        <td th:text="${VolumetricoSAT.RfcContribuyente}"></td>
                        <td th:text="${VolumetricoSAT.RfcRepresentanteLegal}"></td>
                        <td th:text="${VolumetricoSAT.RfcProveedor}"></td>
                        <td th:text="${VolumetricoSAT.Caracter}"></td>
                        <td th:text="${VolumetricoSAT.ModalidadPermiso}"></td>
                        <td th:text="${VolumetricoSAT.NumPermiso}"></td>
                        <td th:text="${VolumetricoSAT.ClaveInstalacion}"></td>
                        <td th:text="${VolumetricoSAT.DescripcionInstalacion}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>

        </div>
    </div>
</body>
</html>
