<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <title>Archivos</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
<div class="card">
    <div class="card-header">
        <h1 class="display-6">Ingrese su archivo json</h1>
    </div>
    <div class="card-body">
        <form method="POST" th:action="@{/uploadFiles}" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="files" accept="application/JSON" multiple/> <br/><br/>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
        <hr/>
        <div th:if="${message}">
            <h2 th:text="${message}"></h2>
        </div>
    </div>

    <div class="card-body">
        <div class="container my-2">
            <h1 class="display-5">Lista de JSON</h1>
            <table class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Version</th>
                    <th scope="col">Rfc Contribuyente</th>
                    <th scope="col">Rfc Representante legal</th>
                    <th scope="col">Rfc Proveedor</th>
                    <th scope="col">Caracter</th>
                    <th scope="col">Modalidad Permiso</th>
                    <th scope="col">Num Permiso</th>
                    <th scope="col">Clave Instalacion</th>
                    <th scope="col">Descripcion Instalacion</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="VolumetricoSAT : ${listVolumetricoSAT}">
                    <td scope="row" th:text="${VolumetricoSAT.getId()}"></td>
                    <td th:text="${VolumetricoSAT.getVersion()}"></td>
                    <td th:text="${VolumetricoSAT.getRfcContribuyente()}"></td>
                    <td th:text="${VolumetricoSAT.getRfcRepresentanteLegal()}"></td>
                    <td th:text="${VolumetricoSAT.getRfcProveedor()}"></td>
                    <td th:text="${VolumetricoSAT.getCaracter()}"></td>
                    <td th:text="${VolumetricoSAT.getModalidadPermiso()}"></td>
                    <td th:text="${VolumetricoSAT.getNumPermiso()}"></td>
                    <td th:text="${VolumetricoSAT.getClaveInstalacion()}"></td>
                    <td th:text="${VolumetricoSAT.getDescripcionInstalacion()}"></td>
                    <td>
                        <div class="btn-group">
                            <span title="Detalles" class="btn btn-default option-btn">
                                <i class="fa fa-eye" data-btn-type="detail" th:id="${VolumetricoSAT.getId()}"></i>
                            </span>
                            <span title="Borrar" class="btn btn-default option-btn">
                                <i class="fa fa-trash" data-btn-type="delete" th:id="${VolumetricoSAT.getId()}"></i>
                            </span>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <th:block th:replace="_modals :: modal('detailModal')">modal</th:block>
            <th:block th:replace="_modals :: modal('modalConfirm')">modal</th:block>
        </div>
    </div>
    <div class="card-footer" >

    </div>

</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script>
    $(document).ready(function () {
        let volumId = "";
        $(".option-btn").click(function (event) {
            volumId = event.target.id;
            switch (event.target.attributes["data-btn-type"].value) {
                case "detail":
                    $.get("/modals/productoModal?volumId=" + volumId, function (data) {
                        $('#detailModal').find('.modal-body').html(data);
                    })
                    $('#detailModal').find('.modal-title').html('Productos');
                    $("#detailModal").modal('show');
                    break;
                case "delete":
                    $.get("/modals/modalConfirm?volumId=" + volumId, function (data) {
                        $('#modalConfirm').find('.modal-body').html(data);
                    })
                    $('#modalConfirm').find('.modal-title').html('Confirmar');
                    $("#modalConfirm").modal('show');
                    break;
            }
        });
    });
</script>
</body>
</html>
