<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Avalon System</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    </head>
    <body>

        <!-- BARRA DE NAVEGACION -->

        <header th:fragment="header">


            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <strong>Avalon</strong>
                       
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    
                    <!-- ENLACES DEL MENU -->
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" th:href="@{/index}">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>

        </header>
        <!-- CONTENIDO -->
        <div class="container"></div>

        <!-- PIE DE PAGINA -->
        <footer th:fragment="footer" class="bg-dark text-center text-white fixed-bottom">

            <div clasa="container">
                <p>Avalon system </p>
            </div>


            <script type="text/javascript" th:href="@{/js/popper.min.js}" ></script>
            <script type="text/javascript" th:href="@{/js/bootstrap.min.js}" ></script>
        </footer>


        <div>Avalon system</div>
    </body>
</html>
